.detail-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(26, 0, 0, 0.4);
    border-radius: 15%;
    border: 2px solid black;
    margin: 1% 20% 1% 20%;
}

.detail-character-name{
    font-family: 'Lucida Console';
    color:aliceblue;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px blue;
}

.detail-character-img{
    border-radius: 100%;
}

.detail-character-details{
    color: white;
    text-shadow: 2px 1px black;
}